body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

/* Styles for the region between the two hrs */
div.info-panel {
  float: left;
  margin-bottom: 0.5em;
  margin-right: 2em;
}
div.info-panel + hr {
  clear: both;
}

table#coveredtable {
  margin: 0 auto;
  min-width: 66%;
}

th {
  font-weight: bold;
  background-color: #6688D4;
  color: white;
  text-align: center;
  padding: 0 1em;
  font-size: 110%;
}

td {
  background-color: #DAE7FE;
  min-width: 3.5em;
  padding: 0 0.5em;
  text-align: right;
}

/* First column is left-aligned, and filenames are monospace */
td:first-child {
  text-align: left;
}
tbody td:first-child {
  font-family: monospace;
}

/* Coverage colored backgrounds */
.lowcov {
  background-color: #FEBAC2;
}
.mediumcov {
  background-color: #FEF8B1;
}
.highcov {
  background-color: #C5FEBA;
}

/* File coverage data styles */
table#filetable {
  font-family: monospace;
  border-spacing: 0;
}
table#filetable td, table#filetable th {
  background-color: inherit;
  color: black;
  padding: 0 0.5em;
  white-space: pre;
  vertical-align: top;
}
table#filetable td:first-child {
  background-color: #EFE383;
  text-align: right;
}
table#filetable td:not(:first-child):not(:last-child) {
  text-align: right;
  border-right: solid black 1px;
  min-width: 5em;
}
table#filetable th {
  font-size: 90%;
  text-align: center;
}
table#filetable tr > *:last-child {
  text-align: left;
}
